<div>
  <h1>Users</h1>
  <button type="button" [routerLink]="['/users/form']">Create new user</button>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>
        <button type="button" [routerLink]="['/users/form']" [state]="{'id': user.id}">Update</button>
        <button type="button" (click)="deleteUser(user.id)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
