<div>
  <h1>Create User</h1>
  <form [formGroup]="userForm" (ngSubmit)="updateUserWithId ? updateUser(updateUserWithId) : createUser()">
    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastName">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email">
    </div>
    <button type="submit">{{buttonLabel}}</button>
  </form>
</div>
